# Initial stuff
/node_modules/

# Commands
/commands/fun/owo.js
/commands/testmoderation/
/commands/UnderWorks/

/_commands/

# Other Stuff
/@userland/
/.history/
## /.program.ts
/json.sqlite
/yarn.lock
/website/
/base/Client.js
/base/Command.js
/api/node_modules/
/yarn-error.log
/cfg.js